.bg-cover {
  background-image: url(../imgs/5.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  inset: 0;
  height: 100vh;
  z-index: -1;
}

#quotesCard {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(25px);
}

#yourQuotes p {
  text-align: center;
  font-size: 2rem;
  padding: 3rem;
  border: 1px solid;
  margin-top: 2rem;
  border-radius: 6rem;
  display: flex;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  align-items: center;
  flex-direction: column;
}

#yourQuotes img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}
